.productPicture {
    width: 45%;
    padding-bottom: 45%;
    max-width: 350px;
    margin-right: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;

    @media screen and (min-width: 500px) {
        margin-right: 10px;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .extraPicturesNumber {
        width: 25px;
        height: 25px;
        position: absolute;
        right: 10px;
        bottom: 10px;
        border-radius: 100%;
        background-color: rgba(0, 112, 201, 0.9);
        color: #fff;
        font-size: 0.8rem;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (min-width: 500px) {
            width: 30px;
            height: 30px;
            font-size: 0.9rem;
        }

        @media screen and (min-width: 960px) {
            width: 35px;
            height: 35px;
            font-size: 1rem;
        }
    }
}
