.priceFilter {
    width: 100%;
    display: flex;

    .priceLabel {
        display: flex;
        flex: 1;
        font-size: 0.9rem;
        min-width: 0;
        padding: 2px 0 5px;
        border-bottom: 1px solid #ccc;
        cursor: text;

        &:nth-child(2) {
            margin-left: 10px;
        }

        .priceInput {
            margin-left: 8px;
            flex: 1;
            min-width: 0;
            border: none;
            outline: none;
            font-size: 1rem;
            color: rgba(0, 0, 0, 0.7);
            background: transparent;
        }
    }
}
