.hamburgerButton {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 0;
    padding-right: 20px;
    cursor: pointer;
    z-index: 3000;

    @media screen and (min-width: 600px) {
        width: 45px;
        height: 45px;
    }

    @media screen and (min-width: 960px) {
        display: none;
    }

    div {
        width: 85%;
        height: 4px;
        margin: 3px 0;
        background-color: #0070c9;
        border-radius: 4px;
        transition: transform 0.1s;

        @media screen and (min-width: 600px) {
            margin: 4px 0;
        }
    }

    &.opened {
        div:nth-child(1) {
            transform: translateY(2px) rotate(45deg);
            width: 100%;
            margin: 0;
        }

        div:nth-child(2) {
            display: none;
        }

        div:nth-child(3) {
            transform: translateY(-2px) rotate(-45deg);
            width: 100%;
            margin: 0;
        }
    }
}
