.sideDrawer {
    width: 85%;
    height: 100vh;
    max-width: 400px;
    padding: 60px 15px 15px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    box-sizing: border-box;
    transform: translateX(-100%);
    transition: transform 0.1s;

    @media screen and (min-width: 600px) {
        width: 60%;
    }

    &.opened {
        transform: translateX(0);
    }
}
