.product {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 7px #cccccc;
    margin: 0 auto 20px;
    padding: 5px;
    font-size: 0.95rem;
    display: flex;
    box-sizing: border-box;
    position: relative;

    @media screen and (min-width: 1200px) {
        width: 55%;
        max-width: 700px;
    }

    .mainInfo {
        width: 55%;

        .title {
            margin: 0 0 10px;
            font-size: 0.8rem;

            @media screen and (min-width: 960px) {
                font-size: 1rem;
            }

            @media screen and (min-width: 1600px) {
                font-size: 1.1rem;
            }
        }
    }
}
