.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 15px;
    background-color: rgba(240, 240, 240, 0.9);
    box-shadow: 2px 5px 5px -3px #ccc;
    box-sizing: border-box;
    z-index: 2000;

    h1 {
        font-weight: lighter;
        font-size: 1.3rem;
    }
}
