.sidebar {
    display: none;
    width: 25%;
    max-width: 400px;
    height: 100vh;
    margin-top: 60px;
    padding: 15px;
    box-shadow: -7px -1px 7px -4px #ccc;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    box-sizing: border-box;

    @media screen and (min-width: 960px) {
        display: block;
    }
}
