.selector {
    width: 100%;
    max-width: 400px;
    height: 30px;
    border-radius: 3px;
    border: solid 1px #d4d8db;
    box-shadow: inset 0 0 2px #ccc;
    padding: 3px;
    font-size: 0.9rem;
    cursor: pointer;

    @media screen and (min-width: 960px) {
        margin-left: auto;
    }
}

/* @media screen and (min-width: 600px) {
    .selector {
        max-width: 500px;
    }
} */
